@mixin transition_smooth {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.social-button {
  position: relative;
  text-transform: uppercase;
  font-size: 11px;
  font-family: 'Source Sans Pro', sans-serif;
  display: inline-block;
  width: 120px;

  .social-button__circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 100%;
    color: white;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;
    position: absolute;
    left: 0;
    top: 10px;
    @include transition_smooth;
  }

  &.roll .social-button__circle {
    animation-name: rollRight;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    .fa {
      animation-name: circle;
      animation-duration: 500ms;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
  }

  .social-button--text {
    display: inline-block;
    text-align: right;
    height: 40px;
    border-radius: 25px;
    width: 80px;
    padding-right: 20px;
    color: white;
    margin-left: -40px;
    line-height: 40px;
    z-index: 1;
    top: -3px;
    position: relative;
    @include transition_smooth;
    overflow: hidden;

    &:before {
      content: "";
      background: rgba(0,0,0,0.3);
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
    }
  }

  &.roll .social-button--text {
    text-align: left;
    padding-left: 20px;
    padding-right: 0;
  }

  &:not(.roll):hover {
    .share-list {
      opacity: 1;
      top: -45px;
      -webkit-transform: scale(1);
    }
  }
}

.share-list {
  display: inline-block;
  margin-left: -140px;
  padding: 0;
  top: 20px;
  position: relative;
  opacity: 0;
  -webkit-transform: scale(0.5);
  @include transition_smooth;

  .share-list__item {
    display: inline-block;
    width: 35px;
    height: 35px;
    float: left;
    list-style: none;
    overflow: hidden;

    a {
      width: 35px;
      height: 35px;
      display: block;
      line-height: 35px;
      color: white;
      font-size: 16px;
      cursor: pointer;
      position: relative;
      z-index: 1;

      .fa {
        position: relative;
        z-index: 1;
      }

      &:before {
        content: " ";
      }

      &:hover {
        &:before {
          background: rgba(0,0,0,0.3);
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 0;
        }
      }
    }

    &:first-child {
      border-radius: 20px 0px 0px 20px;
    }
    &:last-child {
      border-radius: 0 20px 20px 0;
    }
  }
}

@-webkit-keyframes rollRight {
  0%   {
    -webkit-transform: translate(0px, 0);
  }
  100% {
    -webkit-transform: translate(70px, 0);
  }
}
@-moz-keyframes rollRight {
  0%   {
    -webkit-transform: translate(0px, 0);
  }
  100% {
    -webkit-transform: translate(70px, 0);
  }
}
@-o-keyframes rollRight {
  0%   {
    -webkit-transform: translate(0px, 0);
  }
  100% {
    -webkit-transform: translate(70px, 0);
  }
}
@keyframes rollRight {
  0%   {
    -webkit-transform: translate(0px, 0);
  }
  100% {
    -webkit-transform: translate(70px, 0);
  }
}

@-webkit-keyframes circle {
  0%   {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes circle {
  0%   {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes circle {
  0%   {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes circle {
  0%   {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

